<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-2.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<context:property-placeholder location="classpath:resources.properties"/>
	
	<alias alias="defaultLexicon" name="basicLexicon"/>
	<alias alias="defaultAnalyzer" name="javaCodeAnalyzer"/>
	
	<!-- Lexicon -->
	<bean name="basicLexicon" class="labrador.analysis.BasicLexicon">
		<property name="resourceRoot" value="${resources.resources}" />
	</bean>
	
	<!-- Analyzers -->
	<bean name="javaCodeAnalyzer" class="labrador.analysis.JavaCodeAnalyzer">
		<property name="lexicon" ref="defaultLexicon" />
	</bean>
	<bean name="defaultAnalyzerFactory" class="labrador.analysis.compass.DefaultAnalyzerFactory" />
	
</beans>