<web-app>
  <servlet>
     <servlet-name>S6Search</servlet-name>
     <servlet-class>edu.brown.cs.s6.sviweb.server.SviwebServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>S6Search</servlet-name>
     <url-pattern>/sviweb</url-pattern>
  </servlet-mapping>
  <servlet>
     <servlet-name>S6SearchFileManager</servlet-name>
     <servlet-class>edu.brown.cs.s6.sviweb.server.SviwebFileImpl</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>S6SearchFileManager</servlet-name>
     <url-pattern>/sviwebfile</url-pattern>
  </servlet-mapping>
</web-app>
